body {
    background: purple;
    /*Establece un fondo azul oscuro.*/
    margin: 0px;
    /*acerca todo lo mas posible al margen*/
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 0;
    height: 100vh;
    background-image: url(../img/fondo4.gif);
    box-sizing: border-box;
    /*borde a los costados*/
}
/*selector por estiqueta header*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(120, 8, 165, 0.5);
    padding: 10px 20px;
}

/*selector conbiando*/

header .logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

#inicio {
    background: url('../img/estayaeesta3.jpg') no-repeat center center/cover;
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.inicio-titulo h1 {
    background-color: plum;
    /* Color inicial */
    color: #000;
    font-family: "Noto Serif";
    font-size: 8.88889vw;
    line-height: 12.22222vw;
    text-align: center;
}

h1:hover {
    background-color: rgb(234, 0, 255, 0.5);
    /* Color al pasar el cursor */
    color: #fff;
    /* Color del texto al pasar el cursor */
    font-family: "Noto Serif";
    font-size: 8.88889vw;
    line-height: 12.22222vw;
    text-align: center;
}

.contenedor-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.producto {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ddd;
    border-radius: 2px;
    width: calc(25% - 20px);
    /* 4 productos por fila con espacio */
    margin-bottom: 10px;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.producto img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.producto h3 {
    margin: 10px 0 5px;
}

.producto p {
    margin: 0 0 10px;
}

.producto span {
    font-weight: bold;
    color: #333;
}